body {
    background-color: #292929;
    background-image: url('/assets/images/noise.png');
    background-size: 80px 80px;

    /*background: linear-gradient(to top, #09203f 0%, #537895 100%);*/

}


/* FLOW */


/* Active Edge */
.vue-flow__edge.selected .vue-flow__edge-path {
  stroke: red;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/*.vue-flow__edge-path {*/
/*  border-color: var(--color5);*/

/*}*/
